/**
 ROCKS SOFTWARE & TECHNOLOGY
 https://rockssoftware.tech
**/

.link-container {
    position: relative;
    display: inline-block;
}

.link-container a {
    display: inline-block;
    position: absolute;
    top: .5vw;
    right: .5vw;
    opacity: 0;
    pointer-events: none;
}

.link-container input[type="password"]:not(:focus) + a {
    opacity: 1;
    pointer-events: auto;
}

.link-container input[type="password"] {
    padding-right: 20px;
}

.ctrs {
    display: flex;
    align-content: center;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
}

.r_icon {
    width: 28px;
    height: 28px;
    padding-right: 2px;
    padding-left: 2px;
}

.i_icon {
    font-size: 20px;
    color: #15bd8c;
}

.user {
    float: right;
    margin-top: 6px;
    height: 33px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-content: center;
    color: #ffff;
}

.accountSpan {
    padding-right: 10px;
    float: right;
    text-align: right;
}

.accountSpan > small {
    line-height: 5px;
    margin-top: 3px;
}

.btn-reload {
    border: 1px solid #15bd8c !important;
    background-color: #ffff;
    color: #15bd8c;
    font-family: "Poppins", "Avenir", sans-serif;
    font-size: 12px;
    font-weight: 500;
    border: 0;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.3s, color 0.4s;
    margin-right: 0.4rem;
}

.btn-reload:hover {
    background-color: #15bd8c;
    color: #ffff;
}

.btn-group-clone {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-right: 1rem;
}

.btn-menu {
    border: 1px solid #15bd8c !important;
    background-color: #15bd8c;
    color: #ffff;
    font-family: "Poppins", "Avenir", sans-serif;
    font-size: 12px;
    font-weight: 500;
    border: 0;
    padding: 0.75rem 1rem;
    border-radius: 0.5rem;
    transition: background-color 0.2s, color 0.4s;
    margin-right: 0.4rem;
}

.btn-menu:hover {
    background: initial;
    border-color: #15bd8c;
    color: #15bd8c;
}

.nav-link {
    border-right: 1px solid #151D30;
    padding: 0 6.7px;
    width: 7vw;
    color: #ffff;
    height: 73px;
    text-align: center;
    line-height: 5px;
    overflow: hidden;
    margin-bottom: 0;
    margin-right: 1px;
    position: relative;
    display: inline-block;
    text-decoration: none;
    justify-content: center;
    font-size: 11px;
}

.nav-link:last-child {
    border-right: none;
}

.nav-link > i, .animate > i {
    padding-top: 10px;
    font-size: x-large;
    padding-bottom: 10px;
    float: none;
    display: block;
    height: 40px;
    margin: 5px auto;
}

.menu-style {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animate {
    height: 73px;
    border-radius: 5px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #15bd8c;
    color: #fff;
    opacity: 0;
    transform: translateY(-100%);
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.tv-link {
    background-color: #151D30 !important;
}

.nav-link:hover .animate {
    transform: translateY(0);
    opacity: 1;
}

.br-rstyle {
    border-bottom: 1px solid #15bd8c;
}

.newBand {
    background-color: #15bd8c;
    color: #ffff;
    position: absolute;
    top: 10px;
    left: -15px;
    font-size: 8.2px;
    height: 10px;
    line-height: 10px;
    width: 60px;
    transform: rotate(315deg);
    text-align: center;
}

.reverse {
    background-color: #151D30;
    color: #15bd8c;
}

.navbar-logo {
    display: inline-block;
    padding-top: 0.6125rem;
    padding-bottom: 0.3125rem;
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: inherit;
    white-space: nowrap;
}

.navbar-logo > img {
    width: 120px;
    height: auto;
    display: block;
    filter: invert(1) hue-rotate(180deg);
}

.rocks-toggle {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    width: inherit !important;
}

.theme-copyright {
    float: right;
    padding-top: 5px;
}

.header-mobile-svg {
    float: right;
    text-align: right;
    font-size: 20px;
    margin: 5px 3px;
    height: 1em;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
    z-index: 1000;
}

#default-menu-button {
    margin-left: 10px;
    font-size: 20px;
    vertical-align: -0.1em;
}

.img-link {
    height: 50px;
    display: inline-block;
}

.menu-default-icon {
    margin-left: 10px;
    font-size: 25px;
    padding: 10px;
    position: relative; /* Menü butonunu pozisyonlandırmak için relative kullanın */
    top: 5px; /* İstediğiniz miktarda aşağı kaydırmak için bir değer belirleyin */
}

#menu-panel-right {
    position: fixed;
    top: 57px;
    left: 100%;
    width: 60%;
    height: 100%;
    background-color: #161d2f;
    transition: left 0.3s ease;
    overflow: hidden;
    z-index: 9999;
}

#menu-panel-left {
    position: fixed;
    top: 57px;
    left: -100%;
    width: 60%;
    height: 100%;
    background-color: #161d2f;
    transition: left 0.3s ease;
    overflow: hidden;
    z-index: 9999;
}

.overlay.open {
    opacity: 1;
    pointer-events: auto;
}

#menu-panel-left.open {
    left: 0;
}

#menu-panel-right.open {
    left: 40%;
}

.nav-link-mobile {
    line-height: 30px;
    padding: 5px;
}

.nav-link-mobile {
    color: #fff;
    width: 100%;
    display: block;
    text-align: left;
    text-decoration: none;
    border-bottom: 1px solid #0b1225;
    background-color: transparent;
}

.nav-link-mobile a:last-child {
    padding-bottom: 200px;
    border-bottom: none !important;
}

.nav-link-mobile svg {
    width: 25px;
    height: 35px;
    float: left;
    display: block;
    padding: 5px;
    margin-left: 10px;
    margin-right: 15px;
    font-size: inherit;
}

.nav-link-mobile > .menu-icons {
    width: 25px;
    height: 35px;
    float: left;
    display: block;
    padding: 7px 5px 5px 5px;
    margin-left: 10px;
    margin-right: 15px;
    font-size: 15px;
}


@media only screen and (max-width: 1200px) {
    .menu-row {
        width: 100vw;
    }

    .rocks-toggle > .accountSpan {
        font-size: 13px;
    }

    .user {
        float: none;
        height: inherit;
        flex-direction: column;
    }

    .user > .btn-group-clone {
        margin-right: inherit;
    }

    .user {
        display: none;
    }

    .logo-col {
        flex: 0 0 100% !important;
        max-width: 100% !important;
    }

    .theme-copyright {
        float: none;
    }


    .rocks-toggle {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    .nav-link {
        color: #ffff;
        line-height: 5px;
        overflow: hidden;
        margin-bottom: 0;
        margin-right: 1px;
        display: inline-block;
        text-decoration: none;
        position: relative;
        font-size: 13px;
        text-align: center;
        padding: 10px 0;
        width: 24.1vw;
        border-right: 1px solid #151D30;
        border-bottom: 1px solid #151D30;
    }

    .nav-link > i, .animate > i {
        padding-top: inherit;
        font-size: large;
        color: #15bd8c;
    }

    .tv-link {
        width: 100%;
    }

    .animate > i {
        padding-top: 14px;
        color: #ffff;
    }

    .navbar-menu2 {
        box-sizing: border-box;
    }

    .navbar-menu2.container-fluid {
        margin-right: inherit;
        margin-left: inherit;
        padding-left: inherit;
        padding-right: inherit;
    }

    .menu-style {
        display: inherit;
    }

    .container.mobile-container {
        padding-left: 0;
        padding-right: 0;
    }
}

.menu-row {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.logo-col {
    flex: 0 0 41.666667%;
    max-width: 41.666667%;
}

.footer-rstyle {
    background-image: none !important;
    background-color: #0B1225;
    color: #7e8690;
    font-size: 12px;
}

.footer-card {
    border-top: 1px solid #161D2F;
    border-bottom: 1px solid #161D2F;
}

.head {
    background-color: #0B1225;
    color: #15bd8c;
    font-size: 15px;
    padding: 10px;
}

.footer-menu-r {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    padding: 10px 0;
}

.footer-menu-r > ul {
    text-align: center;
    padding: 0;
    list-style: none;
    font-size: 14px;
    margin: 0 auto;
}

.footer-menu-r > ul > li {
    margin: 7px 15px;
    text-align: center;
    display: inline-block;
}

.footer-logo-rstyle > img {
    max-width: 200px;
    max-height: 100px;
    margin: 10px;
}

.footer-info {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.license-image-r {
    width: 100px;
}

.license-text-r {
    padding: 30px 30px;
    width: 50vw;
}


/*** HOME PAGE ***/

.scrollable {
    position: relative;
}

.scrollable > a {
    text-decoration: none;
    background-color: transparent;
    color: #15bd8c;
}

.homeScroll .head {
    background-color: transparent;
}

.homeScroll .head {
    text-align: left;
    color: #15bd8c;
    font-size: 15px;
    padding: 10px;
}

.homeScroll .head span {
    float: right;
    cursor: pointer;
}

.text-right {
    text-align: right !important;
}

.head small {
    line-height: 14px;
    font-size: 80%;
    font-weight: 400;
}

ul.scrollHorizontal {
    scroll-behavior: smooth;
}

dl, ol, ul {
    margin-top: 0;
}

ul.home li {
    display: table-cell;
    padding: 0 5px;
}

ul.home {
    padding: 0;
    overflow-x: scroll;
    width: 100%;
}

ul.home li a, ul.home li a img {
    width: 190px;
}

.gameImg {
    border-radius: 5px !important;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding: 5px;
    background-color: #161d2f;
    height: 90%;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
}

.gameImg .casinoImage {
    min-width: 150px;
    text-align: center;
}

.gameImg, .gameImg .casinoImage {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.gameImg .casinoImage span.scroll {
    height: 134px;
}

.gameImg:hover span {
    transform: scale(1.1);
}

.gameImg .gameHover span:hover {
    background-color: #15bd8c;
    color: #0b1225;
}

@media only screen and (min-width: 1200px) {
    .gameImg:hover span {
        transform: scale(1.1);
    }
}

.gameImg .gameHover span {
    background-color: #0b1225;
    color: #15bd8c;
    border: 2px solid #15bd8c;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 11px;
    height: 27px;
    display: inline-block;
    padding: 0 5px 0 0;
    line-height: 23px;
}

.gameImg .casinoImage span {
    display: block;
    background-repeat: no-repeat;
    background-size: cover, 30%;
    background-position: 50%;
    transition: transform .5s;
}

a.gameImg {
    text-decoration: none;
    color: #fff;
}


.gameImg .gameHover {
    line-height: 20px;
    align-items: center;
    opacity: 0;
    z-index: 10;
    text-align: center;
    left: 0;
    position: absolute;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    top: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 30% 10px 0;
}

.gameImg .gameHover span svg {
    float: left;
    margin: 5px;
    font-size: 14px;
}

svg:not(:root).svg-inline--fa {
    overflow: visible;
}

.svg-inline--fa.fa-w-16 {
    width: 1em;
}

.svg-inline--fa {
    display: inline-block;
    font-size: inherit;
    height: 1em;
    overflow: visible;
    vertical-align: -0.125em;
}

svg {
    overflow: hidden;
}

img, svg {
    vertical-align: middle;
}

.gameImg:hover .gameHover {
    color: #fff;
    opacity: 1;
    top: 0;
    background-color: rgba(32, 33, 34, .8);
}

.scrollable.homeScroll > button.float-right {
    right: -11px;
}

.scrollable.homeScroll > button {
    background-color: transparent;
    top: 42px;
    height: 152px;
    z-index: 1020;
    transition: all .25s ease-in;
    opacity: .4;
}

.scrollable.homeScroll > button, .scrollable > button {
    position: absolute;
    width: 20px;
    border: none;
    color: #fff;
}

.float-left {
    left: -21px;
}

.scrollable.homeScroll > button.float-right::before {
    border-left: 8px solid #fff;
}

.scrollable.homeScroll > button.float-left::before {
    border-right: 8px solid #fff;
}

.float-right {
    right: -11px;
}

.scrollable.homeScroll > button:hover {
    opacity: 1;
}

.scrollable.homeScroll > button::before {
    margin: 0 5px;
    display: inline-block;
    border-top: 8px solid transparent;
    border-bottom: 8px solid transparent;
    content: "";
}

@media (max-width: 1200px) {
    .container-fluid > .container.homeScroll {
        max-width: 100%;
        padding-left: 0;
        padding-right: 0;
    }

    .scrollable.homeScroll > button::before {
        margin: 0 5px;
        display: none;
        border: none;
        content: none;
    }
}

@keyframes popup-enter {
    0% {
        display: none;
        opacity: 0
    }

    1% {
        display: block;
        opacity: 0;
        transform: scale(0)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}

.casino-animation {
    animation: popup-enter .4s ease-in-out;
    transform: translateZ(0);
}

.modal-image {
    left: -5.5% !important;
    position: relative;
    max-width: 111% !important;
    width: 120% !important;
}

.panel-heading > h3:nth-child(1) {
    color: #15bd8c;
    margin: 0;
    font-size: 13px;
}

.sub_menu_item {
    cursor: pointer;
    display: block;
    padding-left: 30px;
    font-size: 13px;
    margin-top: 6px;
    color: white;
    font-weight: 500;
}

.sub_menu_item:hover {
    color: #15bd8c;
}

#sub_menu {
    margin-bottom: 12px;
}

.menu-svg {
    width: 1.3em;
    display: inline;
    vertical-align: middle;
    margin: -4px 10px 0 0;
}

@media only screen and (min-width: 991px) {
    .hide-computer {
        display: none;
    }
}

@media only screen and (max-width: 991px) {
    .hide-mobile {
        display: none;
    }
}

.white-button {
    background: #fff;
    color: #161d2f !important;
    border: 1px solid #fff !important;
    margin-right: 0.5rem;
    font-size: 12px;
    outline: 0;
    border-radius: 0.5rem;
    font-weight: 500;
}

.event-menu > li.active:hover {
    background-color: #13a47a;
    color: #f6f6f6 !important;
}

.categoryBand {
    font-size: 14px;
    border-right: 1px solid #0b1225;
    background: #161d2f;
    margin: 0 5px;
    border-radius: 5px;
    height: 6vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: row;
    padding: 0 5px;
}

@media only screen and (min-width: 1200px) {
    .providerFilter.col {
        max-width: 230px;
    }
}

.providerFilter.col {
    width: 100%;
    position: relative;
}

.categoryBand .btn-primary, .categoryBand .btn-primary:active, .categoryBand .btn-primary:hover {
    height: 32px;
    width: 221px;
    border: 1px solid #161d2f;
    text-align: left;
    background-color: #0b1225;
    color: #fff;
}

.categoryBand .btn svg {
    float: right;
    margin-top: 3px;
}

@media only screen and (min-width: 1200px) {
    .categoryBand.no-gutters > [class*="col-"] {
        padding: 5px 0 !important;
        padding-right: 0px;
    }
}

.miniFilter span {
    float: right;
    margin-top: 1px;
    height: 30px;
    line-height: 30px;
    width: 30px;
}

.miniFilter span {
    margin: 0 1px;
    margin-top: 0px;
    float: left;
    cursor: pointer;
    display: block;
    background-color: #0b1225;
    width: 30px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    font-size: 15px;
    color: #fff;
}

.miniFilter span.active {
    color: #15bd8c !important;
}


@media only screen and (min-width: 1200px) {
    .categoryBand.no-gutters > [class*="col-"]:last-child {
        padding-right: 5px !important;
    }
}

.filter {
    margin: 0;
}

.input-group-append {
    margin-left: -1px;
}

.input-group-append, .input-group-prepend {
    display: flex;
}

.input-group > .input-group-append > .btn, .input-group > .input-group-append > .input-group-text, .input-group > .input-group-prepend:first-child > .btn:not(:first-child), .input-group > .input-group-prepend:first-child > .input-group-text:not(:first-child), .input-group > .input-group-prepend:not(:first-child) > .btn, .input-group > .input-group-prepend:not(:first-child) > .input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.input-group {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 100%;
}

.input-group-text {
    background: #161d2f;
    color: #fff;
    border: 1px solid #161d2f;
    border-right: none;
    width: 30px;
    padding-left: 4px;
}

#search_games {
    width: 14vw !important;
}


/* Providers Dropdown */

.providersTooltip {
    padding-top: 0;
    width: 220px;
}

.bs-tooltip-auto[x-placement^="bottom"], .bs-tooltip-bottom {
    padding: .4rem 0;
}

.tooltip {
    position: absolute;
    z-index: 1070;
    display: block;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-style: normal;
    font-weight: 400;
    line-height: 1.5;
    text-align: start;
    text-decoration: none;
    text-shadow: none;
    text-transform: none;
    letter-spacing: normal;
    word-break: normal;
    word-spacing: normal;
    white-space: normal;
    line-break: auto;
    font-size: .875rem;
    word-wrap: break-word;
    opacity: 1 !important;
}

.fade {
    transition: opacity .15s linear;
}

.providersTooltip .tooltip-inner {
    max-width: 100%;
}

.providersTooltip .tooltip-inner {
    border: 1px solid #161d2f;
    max-height: 350px;
    overflow-y: scroll;
}

.tooltip-inner {
    background-color: #0b1225;
    color: #fff;
    font-size: 12px;
    border-radius: 0;
    padding: 0;
    text-align: center;
}

.form-control.osc {
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    font-weight: 400;
    line-height: 1.5;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    background: #0b1225 !important;
    padding: 5px 7px;
    border: none;
    color: #15bd8c;
    font-size: 12px;
    border-radius: 5px !important;
}

.providersTooltip .tooltip-inner div {
    min-width: 199px;
    font-size: 13px;
    text-align: left;
    cursor: pointer;
    border-bottom: 1px solid #161d2f;
    line-height: 30px;
}

.maxlength {
    overflow: hidden !important;
    text-overflow: ellipsis !important;
    white-space: nowrap;
    padding: 0;
}

.providersTooltip .tooltip-inner div:hover {
    color: #15bd8c;
}

.providersTooltip .tooltip-inner div img {
    width: 35px;
    height: 35px;
    border-style: none;
    vertical-align: middle;
    margin-right: 1vw;
}

/* Games Column */

@keyframes popup-enter {
    0% {
        display: none;
        opacity: 0
    }

    1% {
        display: block;
        opacity: 0;
        transform: scale(0)
    }

    to {
        opacity: 1;
        transform: scale(1)
    }
}


.casino-animation {
    animation: popup-enter .4s ease-in-out;
    transform: translateZ(0);
}

.hoverable {
    position: relative;
    height: 30%;
    cursor: pointer;
}

@media (min-width: 1200px) {
    .col-xl-3 {
        flex: 0 0 25%;
        max-width: 25%;
    }
}

@media (min-width: 768px) and (max-width: 1200px) {
    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

@media (max-width: 768px){
    .col-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
.gameImg {
    padding: 5px;
    background-color: #161d2f;
    height: 90%;
    display: block;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 5px !important;
}

.gameImg, .gameImg .casinoImage {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.gameImg .casinoImage {
    min-width: 150px;
    text-align: center;
}

.gameImg .gameHover {
    line-height: 20px;
    align-items: center;
    opacity: 0;
    z-index: 10;
    text-align: center;
    left: 0;
    position: absolute;
    height: calc(100% - 10px);
    width: calc(100% - 10px);
    top: 100%;
    flex-direction: column;
    justify-content: center;
    margin: 5px;
    padding: 30% 10px 0;
}

.gameImg .casinoImage span.lg {
    height: 223px;
}

.gameImg .casinoImage span {
    display: block;
    background-repeat: no-repeat;
    background-size: cover, 30%;
    background-position: 50%;
    transition: transform .5s;
}

.gameImg .gameHover span {
    background-color: #0b1225;
    color: #15bd8c;
    border: 2px solid #15bd8c;
    border-radius: 4px;
    text-transform: uppercase;
    font-size: 11px; 
    height: 27px;
    display: inline-block;
    padding: 0 5px 0 0;
    line-height: 23px;
	margin-bottom:10px; 
	transform: translateY(-10px); /* Örnek olarak -10px yukarı taşıma */
}

.gameImg .gameHover span svg {
    float: left;
    margin: 5px;
    font-size: 14px;
}

.hoverable .text-center {
    padding: 0 5px 5px;
    background: rgba(0, 0, 0, .25);
    color: #fff;
}

@media (min-width: 1200px) {
    .col-xl-2 {
        flex: 0 0 16.666667%;
        max-width: 16.666667%;
    }
}

.gameImg .casinoImage span.md {
    height: 143px;
}

.no-gutters > .col, .no-gutters > [class*="col-"] {
    padding: 5px !important;
    overflow: hidden !important;
    white-space: nowrap;
    text-overflow: ellipsis !important;
}

.load-more-button {
    text-align: center !important;
}

#dropdownContent {
    position: absolute;
    display: none;
    top: 35.3vh;
    left: 11.4vw;
}

@media (max-width: 1200px) and (min-width: 400px) {
    #dropdownContent {
        top: 23vh;
        left: 3.3vw;
    }

    .providersTooltip {
        width: 93vw;
    }

    .left-container.nano-content {
        overflow-y: auto !important;
    }

    .categoryBand{
        width: 98vw;
        height: 12vh;
    }

    .categoryBand.casino-live-page{
        height: 6vh;
    }

    .categoryBand .btn-primary, .categoryBand .btn-primary:active, .categoryBand .btn-primary:hover {
        width: 92vw;
    }

}

@media (max-width: 400px){
    #dropdownContent {
        top: 23vh;
        left: 3.3vw;
    }

    .providersTooltip {
        width: 93vw;
    }

    .left-container.nano-content {
        overflow-y: auto !important;
    }

    .categoryBand.casino-live-page{
        height: 6vh;
    }
    .categoryBand{
        width: 98vw;
        height: 12vh;
    }
    .categoryBand .btn-primary, .categoryBand .btn-primary:active, .categoryBand .btn-primary:hover {
        width: 90vw;
        min-width: 66vw;
    }
}

@media (max-width: 1200px) and (min-width: 417px) {
    #search_games {
        width: 73vw !important;
    }
}

@media (max-width: 417px) {
    #search_games {
        width: 68vw !important;
    }
}

@media (max-width: 768px){
    .col-6 {
        display: flex;
        flex: 0 0 50% !important;
        max-width: 50%;
        width: 100%;
        flex-direction: column;
    }
}

.placeholder {
    text-align: center;
    padding: 100px 20px;
    font-size: 14px;
    color: #fff;
}

.active-provider {
    color: #15bd8c;
}

/** footer **/
footer .footer-card ul {
    text-align: center;
    padding: 0 0 20px;
    margin: 0;
}

footer .footer-card ul li {
    display: inline-block;
}

footer .footer-card ul li a {
    display: block;
}

footer .footer-card ul li img {
    transition: transform .5s;
    filter: grayscale(1);
    height: 42px;
}

@media only screen and (min-width: 1200px) {
    footer .footer-card ul li img {
        transition: transform .5s;
        height: 40px;
    }
}

footer .footer-card ul li img:hover {
    filter: unset;
}

footer .footer-card ul li img:hover {
    transform: scale(1.3);
}

/** game modal **/

.darkModal {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1050;
    display: none;
    width: 100%;
    height: 100%;
    overflow: hidden;
    outline: 0;
}

.darkModal > .modal-dialog{
    margin-top: 100px;
    display: block;
}

.modal.show .modal-dialog {
    transform: none;
}

.modal.fade .modal-dialog {
    transition: transform .3s ease-out;
    transform: translateY(-50px);
}

@media only screen and (min-width: 1200px) {
    .modal-xl {
        max-width: 85%;
    }
}


@media (min-width: 992px) {
    .modal-lg, .modal-xl {
        max-width: 800px;
    }
}

@media (min-width: 576px) {
    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem);
    }
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 500px;
        margin: 1.75rem auto;
    }

    .modal-dialog-centered {
        display: flex;
        align-items: center;
        min-height: calc(100% - 1rem);
    }

    .modal-dialog {
        position: relative;
        width: auto;
        margin: 0.5rem;
        pointer-events: none;
    }
}

.darkModal .modal-content {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 90vw;
    pointer-events: auto;
    background-color: #0b1225;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
    outline: 0;
    max-height: 95vh;
    margin: 0 4vw;
    justify-content: center;
    align-items: center;
}

.darkModal .modal-header {
    padding: 0;
    display: block;
    border: none;
    text-align: center;
    align-items: flex-start;
    justify-content: space-between;
    border-bottom: 1px solid #dee2e6;
    border-top-left-radius: calc(0.3rem - 1px);
    border-top-right-radius: calc(0.3rem - 1px);
}

.expand {
    position: absolute;
    top: -15px;
    right: 20px;
    z-index: 999999;
    border: none;
    border-radius: 30px;
    background-color: #fff;
    width: 30px;
    height: 30px;
    opacity: .75;
}

.embed-responsive {
    height: 91vh;
    position: relative;
    display: block;
    width: 100%;
    padding: 0;
    overflow: hidden;
}

.embed-responsive:before {
    display: block;
    content: "";
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    background-color: #0b1225;
}

.embed-responsive .embed-responsive-item, .embed-responsive embed, .embed-responsive iframe, .embed-responsive object, .embed-responsive video {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}

.darkModal .modal-header .close {
    position: absolute;
    z-index: 9999;
    top: -15px;
    right: -15px;
    background-color: #fff;
    margin: 0;
    padding: 0 5px 5px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    opacity: .75;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.modal-header .close span {
    margin-top: -25px;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border: 0;
}

.close {
    float: right;
    font-size: 2.9rem;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.svg-inline--fa.fa-w-14 {
    width: 0.875em;
}

.darkModal.modal.show{
    display: block !important;
    opacity: 1;
}

.modal-header .close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}

@media only screen and (min-width: 1200px){
    .categories {
        margin-bottom: 7px;
    }
}

.categories {
    font-size: 13px;
    margin: 10px 0 0;
}

.categories a {
    display: block;
    background: #0b1225;
    padding: 10px;
    border: 1px solid #161d2f;
    border-radius: 5px !important;
}

.categories a.active canvas {
    -webkit-filter: drop-shadow(0 0 0.4rem);
    filter: drop-shadow(0 0 0.4rem);
    height: 45px;
    aspect-ratio: auto 128 / 128;
    color: #15bd8c;
}

.categories a hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    box-sizing: content-box;
    height: 0;
    overflow: visible;
}

.categories a p {
    margin-bottom: 0;
    color: #15bd8c;
}

.categories a p {
    margin-bottom: 0;
    color: #fff;
}

.categories .col{
    flex-basis: 0;
    flex-grow: 1;
    max-width: 100%;
    padding: 5px!important;
    overflow: hidden!important;
    white-space: nowrap;
    text-overflow: ellipsis!important;
}

.live-casino-dropdown{
    top: 48.3vh;
    left: 11.4vw;
}

@media (max-width: 1200px) and (min-width: 400px) {
    .live-casino-dropdown {
        top: 38vh;
        left: 3.3vw;
    }
}

form a.text-right {
    margin: 0 20px 15px;
    font-size: 14px;
    float: right;
}

.rocks-login-button{
    width:89vw !important;
    margin: 20px 10px;
    font-size: 15px;
}